


html {
   font-size: 62.5%;
}

// --- header starts here ---

header {
   .headerUpdate {
      font-family: 'Roboto', sans-serif;
      font-size: 1.6rem;
      background-color: $color-one;
      text-align: center;
      padding: 1rem 2rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      color: $color-four;
      p {
         margin-right: 22rem;
      }
      .french {
         text-transform: uppercase;
         text-decoration: none;
         color: $color-four;
         margin-top: 1.5rem;
         &:hover {
            color: #808080;
         }
      }
   }
}

.flex {
   display: flex;
   flex-direction: row;
   width: 93%;
   margin: 0rem auto;
   max-width: 1440px; 
   nav {
      width: 100%;
   }
}

.menuRow {
   display: flex;
   flex-direction: row;
   padding: 0.7rem 0.7rem; 
   .fas {
      display: none;
   }
   li {
      width: 80%;
      list-style-type: none;
      text-align: center;
      a{
         text-decoration: none;
         text-transform: uppercase;
         font-size: 1.6rem;
         font-family: 'Roboto', sans-serif;
         color: black;
         &:hover {
            color: #a09d9d;
         }
      }
   }
}

.headerLogo {
   width: 20%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   img {
      width: 100%;
   }
}


// --- modal styles start here ---

.modal {
   position: fixed;
   z-index: 9999;
	padding: 150px 0 50px 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #00000066;
   .content {
      width: 40%;
      border: none;
      background-color: #fbfdfe;
      margin: auto;
      padding-right: 15px;
      overflow: hidden;
      text-align: center;
      box-shadow: 1px 1px 14px 3px #000000bf;	
      background-color: $color-three;
      .close {
         color: $color-five;
         float: right;
         font-size: 30px;
         font-weight: 700;
      }
      .close:focus,
      .close:hover {
         color: $color-four;
         text-decoration: none;
         cursor: pointer;
      }
   }
}

.popUpFlex {
   display: flex;
   flex-direction: row;
   .popUpImage {
      width: 40%;
      margin-bottom: -0.5rem;
      img {
         width: 100%;
      }
   }
}

.popUpBackground {
   background-color: $color-three;
   width: 65%;
   .popUpSale {
      background-color: $color-one;
      color: white;
      padding: 0rem;
      width: 40%;
      text-align: center;
      margin: 2.5rem auto;
      text-transform: uppercase;
      font-size: 1.2rem;
      letter-spacing: 1.1px;
      position: relative;
   }
   .popUpSale,
   .popUpInfo,
   .popUpButton {
      font-family: 'Roboto', sans-serif;
   }
   .popUpSale:before,
   .popUpSale:after {
      content: '';
      position: absolute;
      left: 0; 
      right: 0;
      bottom: 100%;
      border-bottom: 5px solid $color-one;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
   }
   .popUpSale:after {
      bottom: auto;
      top: 100%;
      border-bottom: none;
      border-top: 5px solid $color-one;
   }
   .popUpDeal {
      font-size: 3.2rem;
      width: 70%;
      text-align: center;
      margin: 0 auto;
      text-transform: capitalize;
      font-family: 'Merriweather', serif;
      color: $color-one;
      padding-bottom: 2rem;
      border-bottom: 1px solid #8d8c8c;
   }
   .popUpInfo {
      font-size: 2rem;
      font-weight: 400;
      width: 85%;
      margin: 2rem auto;
      line-height: 2.8rem;
   }
   .popUpButton {
      background-color: $color-two;
      margin: 1rem 0 2rem 0;
      border: none;
      padding: 1.7rem 2.5rem;
      font-size: 1.4rem;
      font-weight: 700;
      text-transform: uppercase;
      color: $color-four;
      border-right: 1px solid #383838;
      border-bottom: 1px solid #910242;
      &:hover {
         color: $color-five;
      }
   }
}



