
// === main starts here ---

main {
   background: url(../../images/desktop1440.jpg);
   background-size: cover;
   background-color: $color-three;
   background-position: center;
   padding: 1rem 0;
   margin-top: -3px;
}

.mainWrapper {
   text-align: center;
   position: relative;
   // --- sales banner ---
   .sale {
      width: 9%;
      color: $color-four;
      padding: 0rem;
      font-size: 1.2rem;
      text-align: center;
      position: relative;
      margin: 2.5rem auto;
      letter-spacing: 1.1px;
      text-transform: uppercase;
      background-color: $color-one;
   }
   .sale:before,
   .sale:after {
      left: 0; 
      right: 0;
      content: '';
      bottom: 100%;
      position: absolute;
      border-bottom: 5px solid $color-one;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
   }
   .sale:after {
      top: 100%;
      bottom: auto;
      border-bottom: none;
      border-top: 5px solid $color-one;
   }
   .mainDeal {
      color: $color-one;
      font-size: 4.8rem;
      margin: 1.5rem 0 2rem 0;
      text-transform: capitalize;
      font-family: 'Merriweather', serif;
   }
   .dealInfo {
      font-size: 2rem;
      font-weight: 400;
      margin-top: 0;
   }
   .sale,
   .dealInfo,
   button,
   .terms, 
   .offerSign p {
      font-family: 'Roboto', sans-serif;
   }
   // --- upgrade your sleep button ---
   button {
      background-color: $color-two;
      margin-top: 1rem;
      border: none;
      padding: 1.8rem 3.7rem;
      font-size: 1.4rem;
      font-weight: 700;
      text-transform: uppercase;
      color: $color-four;
      border-right: 1px solid #910242;
      border-bottom: 1px solid#910242;
      &:hover {
         color: $color-five;
      }
      &:focus {
         border: 1px solid $color-three;
      }
      &:active {
         border: 1px solid $color-two;
      }
   }
   // --- absolute offer sign ---
   .offerSign {
      position: absolute;
      border: 3px solid $color-one;
      border-radius: 50%;
      padding: 0.7rem;
      height: 115px;
      width: 120px;
      right: 40rem;
      bottom: 15rem;
      
      p {
         height: 100px;
         width: 100px;
         margin: -0.5rem -1.5rem 0 0;
         margin-bottom: -1rem;
         background-color: $color-one;
         color: $color-four;
         padding: 2.5rem;
         font-size: 1.4rem;
         text-transform: uppercase;
         font-weight: 700;
         border-radius: 50%;
         transform: rotate(20deg);
         border-radius: 1px solid $color-five;
      }
   }
   // --- terms & conditions ---
   .terms {
      margin-top: 37rem;
      font-size: 1.3rem;
      color: $color-four;
      a {
         color: $color-four;
         &:hover {
            color: $color-two;
         }
         &:focus {
            border: 1px solid $color-three;
         }
         &:active {
            border: 1px solid $color-two;
         }
      }   
   }
}




