// --- media query 1328px ---

@media (max-width: 1328px) {
   header {
      .headerUpdate p {
         margin-right: 16rem;
      }
   }
   .mainWrapper {
      .sale {
         width: 10%; 
      }
   }

}


@media (max-width: 1250px) {
   header {
      .headerUpdate p {
         margin-right: 12rem;
      }
   }

   .menuRow {
      padding: 0.5rem 0.7rem;
      li a {
         font-size: 1.4rem;
      }
   }
   .mainWrapper {
      .mainDeal {
         font-size: 4.7rem;
      }
      .offerSign {
         right: 33rem;
      }
   }
}

@media (max-width: 1144px) {
   header {
      .headerUpdate {
         font-size: 1.4rem;
         p {
            margin-right: 9rem;
         }
         .french {
            font-size: 1.3rem;
         }
      }
   }
   .menuRow {
      padding: 0.7rem 0.7rem;
   }
   .headerLogo {
      width: 28%;
   }
   .mainWrapper {
      .sale {
         width: 11%;
      }
      .mainDeal {
         font-size: 4.6rem;
      }
   }
}

@media (max-width: 1078px) {
   .menuRow {
      li a {
         font-size: 1.2rem;
      }
   }
   .mainWrapper {
      .sale {
         width: 12%;
      }
      .mainDeal {
         font-size: 4.4rem;
      }
      button {
         font-size: 1.3rem;
      }
      .offerSign {
         right: 28rem;
      }
      .terms {
         font-size: 1.2rem;
      }
   }
}

@media (max-width: 1024px) {
   main {
      background-image: url(../../images/endy-dreamiest-offer-ever-sale-hero-1024x645-2x.jpg)
   }
   .mainWrapper {
      .terms {
         margin-top: 35rem;
      }
   }
}

@media (max-width: 980px) {
   header {
      .headerUpdate {
         font-size: 1.3rem;
         p {
            margin-right: 7rem;
         }
         .french {
            font-size: 1.1rem;
         }
      }
   }
   .headerLogo {
      width: 31%;
   }
   .mainWrapper {
      .sale {
         font-size: 1.1rem;
      }
      .offerSign {
         right: 22rem;
         bottom: 12rem;
      }
   }
}

@media (max-width: 870px) {
   header {
      .headerUpdate {
         justify-content: center;
         font-size: 1.3rem;
         p {
            margin-right: 0;
         }
         .french {
            display: none;
         }
      }
   }
   .menuRow {
      li a {
         font-size: 1.1rem;
      }
   }
   .headerLogo {
      width: 34%;
   }
   .mainWrapper {
      .sale {
         width: 13%;
      }
      .mainDeal {
         font-size: 4.2rem;
      }
   }
}


// --- media query 768px ---

@media (max-width: 768px) {
   .flex {
      width: 83%;
   } 
   .menuRow {
      padding: 0rem 0.6rem;
      .fas {
         display: block;
         font-size: 1.5rem;
         color: #C40058;
         margin-top: 0.5rem;
      }
      li {
         visibility: hidden;
      }
      .eCart {
         margin-top: 0.5rem;
      }
   }
   .headerLogo {
      width: 39%;
   }

   main {
      background-image: url(../../images/endy-dreamiest-offer-ever-sale-hero-768x600-2x.jpg)
   }

   .mainWrapper {
      .sale {
         width: 15%;
         font-size: 1rem;
      }
      .mainDeal {
         font-size: 4rem;
      }
      .dealInfo {
         font-size: 1.9rem;
      }
      button {
         width: 80%;
         padding: 1.6rem 3.7rem;
         font-size: 1.2rem;
      }
      .offerSign {
         right: 48rem;
         bottom: 3rem;
         height: 110px;
         width: 112px;
         p {
            transform: rotate(-20deg);
            height: 95px;
            width: 95px;
            font-size: 1.3rem;
         }
      }
      .terms {
         margin-top: 34rem;
         font-size: 1.1rem;
      }
   }
}


@media (max-width: 700px) {

   .headerLogo {
      width: 45%;
   }
   .mainWrapper {
      .sale {
         width: 16%;
      }
      .offerSign {
         right: 41rem;
      }
   }

}


@media (max-width: 633px) {

   .headerLogo {
      width: 55%;
      margin-left: -1.5rem;
   }
   .mainWrapper {
      .sale {
         width: 18%;
      }
   }

}

@media (max-width: 580px) {

   .headerLogo {
      width: 55%;
      margin-left: -4rem;
      img {
         width: 111%;
      }
   }

}

@media (max-width: 547px) {
   .flex {
      width: 87%;
   }
   .mainWrapper {
      .sale {
         width: 20%;
      }
      .offerSign {
         right: 36rem;
      }
      .terms {
         width: 85%;
         margin: 34rem auto 0 auto;
      }
   }
}

@media (max-width: 500px) {
   .headerLogo {
      margin-left: -6rem;
      width: 60%;
   }
   main {
      background-image: url(../../images/endy-dreamiest-offer-ever-sale-hero-500X600-2x.jpg);
   }
   .mainWrapper {
      .sale {
         width: 23%;
      }
      .mainDeal,
      .dealInfo {
         width: 75%;
         margin: 1rem auto;
      }
      .offerSign {
         right: 27rem;
         bottom: 7rem;
      }
   }
}

@media (max-width: 475px) {
   .headerLogo {
      margin-left: -7rem;
      img {
         width: 130%;
      }
   }
}

@media (max-width: 451px) {
   .headerLogo {
      margin-left: -8rem;
      img {
         width: 150%;
      }
   }
   .mainWrapper {
      .offerSign {
         right: 23rem;
      }
      .terms {
         // font-size: 1rem;
         line-height: 1.3rem;
      }
   }

}

@media (max-width: 425px) {
   .headerLogo {
      margin-left: -9.5rem;
      img {
         width: 175%;
      }
   }
   .mainWrapper {
      .sale {
         width: 29%;
      }
      .dealInfo {
         width: 85%;
      }
   }
}


@media (max-width: 400px) {
   .headerLogo {
      margin-left: -10.5rem;
      img {
         width: 184%;
      }
   }
}

@media (max-width: 385px) {
   .headerLogo {
      margin-left: -10.5rem;
      img {
         width: 200%;
      }
   }
}

@media (max-width: 375px) {
   .headerLogo {
      margin-left: -10.5rem;
      img {
         width: 240%;
      }
   }
   main {
      background-image: url(../../images/endy-dreamiest-offer-ever-sale-hero-375x600-2x.jpg);
   }
}