html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

header .headerUpdate {
  background-color: #243746;
  text-align: center;
  color: white;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  padding: 1rem 0;
}

header .headerUpdate .french {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 93%;
  margin: 0rem auto;
  max-width: 1440px;
}

.flex nav {
  width: 100%;
}

.menuRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.7rem 0.7rem;
}

.menuRow li {
  width: 80%;
  list-style-type: none;
  text-align: center;
}

.menuRow li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  color: black;
}

.menuRow li a:hover {
  color: #a09d9d;
}

.headerLogo {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.headerLogo img {
  width: 100%;
}

h1 {
  color: red;
  text-align: center;
}

.popUpImage {
  width: 74%;
  margin-bottom: -0.5rem;
}

.popUpImage img {
  width: 100%;
}

.popUpSale {
  background-color: #243746;
  color: white;
  padding: 0rem;
  width: 40%;
  text-align: center;
  margin: 2.5rem auto;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1.1px;
  position: relative;
}

.popUpSale:before,
.popUpSale:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  border-bottom: 5px solid #243746;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.popUpSale:after {
  bottom: auto;
  top: 100%;
  border-bottom: none;
  border-top: 5px solid #243746;
}

.popUpDeal {
  font-size: 3.2rem;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  text-transform: capitalize;
  font-family: 'Merriweather', serif;
  color: #243746;
  padding-bottom: 2rem;
  border-bottom: 1px solid #8d8c8c;
}

.popUpInfo {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  width: 85%;
  margin: 2rem auto;
  line-height: 2.8rem;
}

.modal {
  position: fixed;
  z-index: 9999;
  padding: 150px 0 50px 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.content {
  width: 40%;
  border: none;
  background-color: #fbfdfe;
  margin: auto;
  padding-right: 15px;
  overflow: hidden;
  text-align: center;
  -webkit-box-shadow: 1px 1px 14px 3px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 1px 14px 3px rgba(0, 0, 0, 0.75);
  background-color: #C9DED9;
}

.close {
  color: #aaa;
  float: right;
  font-size: 30px;
  font-weight: 700;
}

.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.popUpFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.popUpBackground {
  background-color: #C9DED9;
}

.popUpButton {
  background-color: #C40058;
  margin: 1rem 0 2rem 0;
  border: none;
  padding: 1.7rem 2.5rem;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  border-right: 1px solid #910242;
  border-bottom: 1px solid #910242;
}

.popUpButton:hover {
  color: black;
}

main {
  background: url(../../images/desktop1440.jpg);
  background-size: cover;
  background-color: #C9DED9;
  padding: 1rem 0;
  margin-top: -3px;
}

.mainWrapper {
  text-align: center;
  position: relative;
}

.sale {
  background-color: #243746;
  color: white;
  padding: 0rem;
  width: 9%;
  text-align: center;
  margin: 2.5rem auto;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1.1px;
  position: relative;
}

.sale:before,
.sale:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  border-bottom: 5px solid #243746;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.sale:after {
  bottom: auto;
  top: 100%;
  border-bottom: none;
  border-top: 5px solid #243746;
}

.mainDeal {
  font-size: 4.8rem;
  text-transform: capitalize;
  font-family: 'Merriweather', serif;
  color: #243746;
  margin: 1.5rem 0 2rem 0;
}

.dealInfo {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-top: 0;
}

button {
  background-color: #C40058;
  margin-top: 1rem;
  border: none;
  padding: 1.8rem 3.7rem;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  border-right: 1px solid #910242;
  border-bottom: 1px solid #910242;
}

button:hover {
  color: black;
}

.offerSign {
  position: absolute;
  border: 3px solid #243746;
  border-radius: 50%;
  padding: 0.7rem;
  height: 115px;
  width: 120px;
  right: 40rem;
  bottom: 15rem;
}

.offerSign p {
  height: 100px;
  width: 100px;
  margin: -0.5rem -1.5rem 0 0;
  margin-bottom: -1rem;
  background-color: #243746;
  color: white;
  padding: 2rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  border-radius: 50%;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  border-radius: 1px solid black;
}

.terms {
  margin-top: 37rem;
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.terms a {
  color: white;
}

.terms a:hover {
  color: #C40058;
}
/*# sourceMappingURL=styles.css.map */